<div ng-controller='providerDtlCntrl'>
	<h2>Provider Details</h2>
	<div class="container-fluid">

		<div class="two">
			<table border='1'>
				<tr>
					<th>PROVIDER ID</th>
					<th>NAME</th>
					<th>EMAIL</th>
				</tr>
				<tr>
					<td>{{provider_id}}</td>
					<td><input type="text" placeholder="{{name}}"
						ng-model="Provider.name"></td>
					<td><input type="text" placeholder="{{email}}"
						ng-model="Provider.email"></td>
					<td><button ng-click="updateProviderDtl()">UPDATE</button></td>
				</tr>
			</table>
			<div>
				<a href="#/providers/">Back to Providers List</a>
			</div>
		</div>
		<div>
			<h3>Profiles</h3>
		</div>
		<div class='profile'>
			<div class='profhdr'>NAME</div>
			<div class='profhdr'>TYPE</div>
			<div class='profhdr'>PRIVATE?</div>
			<div class='profhdr'>DEINTERLACE INPUT?</div>
			<div class='profhdr'>FRAME RATE</div>
			<div class='profhdr'>MEZZANINE MULTIPASS ENCODING?</div>
		</div>
		<div>
			<ul>
				<li class="profdiv" ng-repeat="Profile in Profiles">
					<div class="profdtl">
						<input type="text" placeholder="{{Profile.name}}">
					</div>
					<div class="profdtl">{{Profile.type}}</div>
					<div class="profdtl">
						<input type="checkbox" ng-model="Profile.private"
							ng-true-value="1" ng-false-value="0"
							ng-change="setProf_PrivateValue()">
					</div>
					<div class="profdtl">
						<input type="checkbox" ng-model="Profile.deinterlace_input"
							ng-true-value="1" ng-false-value="0">
					</div>
					<div class="profdtl">
						<select ng-model="selected.Framerate"><option
								ng-selected="{{framerate.value == selected.Framerate }}"
								ng-repeat="framerate in framerates" value="{{framerate.value}}">{{framerate.displayName}}</option></select>
					</div>
					<div class="profdtl">
						<input type="checkbox"
							ng-model="Profile.mezzanine_multipass_encoding" ng-true-value="1"
							ng-false-value="0">
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="container-fluid">
		<ul>
			<li class="TabProf" ng-repeat="Profile in Profiles"
				ng-click="showTab($index)" ng-style="tabStyles[$index]">{{Profile.name}}</li>
		</ul>

		<div class='profile'>
			<div class='strmhdr'>NAME</div>
			<div class='strmhdr'>MUXING FORMAT</div>
			<div class='strmhdr'>PROFILE</div>
			<div class='strmhdr'>AUDIO SAMPLE RATE</div>
			<div class='strmhdr'>AUDIO BITRATE</div>
			<div class='strmhdr'>VIDEO BITRATE</div>
			<div class='strmhdr'>VIDEO WIDTH</div>
			<div class='strmhdr'>KEYFRAME INTERVAL SEC</div>
			<div class='strmhdr'>WATERMARK</div>
			<div class='strmhdr'>MULTIPASS ENCODING</div>
			<div class='strmhdr'>SEGMENT LENGTH SEC</div>
			<div class='strmhdr'>ENCRYPT</div>
			<div class='strmhdr'>KEY ROTATION PERIOD</div>
			<div class='strmhdr'>VIDEO ENCRYPTION LEVEL</div>
		</div>
		<div>
			<ul class="strmdiv" ng-repeat="Profile in Profiles"
				ng-show="tabDisplayFlags[$index]">
				<li class="strmdtldiv" ng-repeat="Stream in Profile.streams">
					<div class="strmprops">
						<input type="text" placeholder="{{Stream.name}}">
					</div>
					<div class="strmprops">
						<select ng-model="mySelection"
							ng-options="MuxFormate.title for MuxFormate  in MuxFormates"></select>
					</div>
					<div class="strmprops">{{Stream.profile}}</div>
					<div class="strmprops">{{Stream.audio_sample_rate}}</div>
					<div class="strmprops">
						<select ng-model="AudioBitrate"
							ng-options="AudioBitrate.title for AudioBitrate  in AudioBitrates"></select>
					</div>
					<div class="strmprops">
						<select ng-model="VideoBitrate"
							ng-options="VideoBitrate.title for VideoBitrate  in VideoBitrates"></select>
					</div>
					<div class="strmprops">{{Stream.video_width}}</div>
					<div class="strmprops">
						<select ng-model="KeyFrameI"
							ng-options="KeyFrameI.timeperiod for KeyFrameI  in KeyFrameIntervals"></select>
					</div>
					<div class="strmprops">
						<input type="checkbox" ng-model="Stream.watermark"
							ng-true-value="1" ng-false-value="0">
					</div>
					<div class="strmprops">{{Stream.multipass_encoding |
						booleanFormatter}}</div>
					<div class="strmprops">{{Stream.segment_length_sec}}</div>
					<div class="strmprops">{{Stream.encrypt}}</div>
					<div class="strmprops">{{Stream.key_rotation_period}}</div>
					<div class="strmprops">{{Stream.video_encryption_level}}</div>
				</li>
			</ul>
		</div>
	</div>
</div>
