<div ng-controller='providerDtlCntrl'>
	<h2>Provider Details</h2>
	<div class="container-fluid">

		<div class="two">
			<table border='1'>
				<tr>
					<th>PROVIDER ID</th>
					<th>NAME</th>
					<th>EMAIL</th>
				</tr>
				<tr>
					<td>{{provider_id}}</td>
					<td><input type="text" placeholder="{{name}}"
						ng-model="Provider.name"></td>
					<td><input type="text" placeholder="{{email}}"
						ng-model="Provider.email"></td>
					<td><button ng-click="updateProviderDtl()">UPDATE</button></td>
				</tr>
			</table>
			<div>
				<a href="#/providers/">Back to Providers List</a>
			</div>
		</div>
		<div>
			<h3>Profiles</h3>			
		</div>
		<div class='profile'>
			<div class='profhdr'>NAME</div>
			<div class='profhdr'>TYPE</div>
			<div class='profhdr'>PRIVATE?</div>
			<div class='profhdr'>DEINTERLACE INPUT?</div>
			<div class='profhdr'>FRAME RATE</div>
			<div class='profhdr'>MEZZANINE MULTIPASS ENCODING?</div>
		</div>
		<div class="profdiv">
			<span ng-repeat="Profile in Profiles"><a href="#/profile/{{Profile.profile_id}}">{{Profile.name}}</a></span>
		</div>
		<div class="profdiv">
			<span ng-repeat="Profile in Profiles">{{Profile.type}}</span>
		</div>
		<div class="profdiv">
			<span ng-repeat="Profile in Profiles"><input type="checkbox"
				ng-model="Profile.private" ng-true-value="1" ng-false-value="0"></span>
		</div>
		<div class="profdiv">
			<span ng-repeat="Profile in Profiles">{{Profile.deinterlace_input}}</span>
		</div>
		<div class="profdiv">
			<span ng-repeat="Profile in Profiles">{{Profile.frame_rate}}</span>
		</div>
		<div class="profdiv">
			<span ng-repeat="Profile in Profiles">{{Profile.mezzanine_multipass_encoding}}</span>
		</div>
	</div>
</div>