<div ng-controller='providersCntrl'>
	<h2>Providers</h2>
	<div class="container-fluid">
		<div id="searchdiv">
			<label>Search:</label> <input id='providerquery' ng-model="query">
			<label>Sort by: </label><select ng-model="orderProp">
				<option value="name">Alphabetical</option>
			</select> <a href="#/providers/addprovider">ADD PROVIDER</a>&nbsp;&nbsp;<a
				href="#/dashboard">SEARCH PROVIDER</a>
		</div>
		<div id="providerdiv">
			<div class="two">
				<!--Body content-->
				<table border='1'>
					<tr>
						<th>ID</th>
						<th>NAME</th>
						<th>PROVIDER ID</th>
						<th>EMAIL</th>
					</tr>
					<tr
						ng-repeat="Provider in Providers | filter:query | orderBy:orderProp">
						<td>{{Provider.id}}</td>
						<td>{{Provider.name}}</td>
						<td><a href="#/providers/{{Provider.provider_id}}">{{Provider.provider_id}}</a></td>
						<td>{{Provider.email}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>