<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app='myApp'>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

</head>

<body >
	<div ng-controller='SearchController'>
	<form ng-submit=submit(field)>
	<label>Enter Provider ID</label>
	<input type="text" name='field' ng-model="Provider.id"><br/>
	Provider Name:{{Provider.Name}}<br/>
	Provider Id:{{Provider.need}}<br/>
	<button ng-click="submit(id)">Submit</button>
	</form>
	</div>
	
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script type="text/javascript" src="SearchController.js"></script>
</body>

</html>