<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body ng-app='myApp'>
	<div ng-controller='CntrlJson'>
		<form ng-submit = submit(field)>
			<label>Enter Provider ID</label>
			<input type="text" ng-model="idfield.field"><br/>
			<button ng-click="submit(field)">Submit</button><br>
	
			<h3>Providers Full Details:</h3>
					{{value}}<br>
					Provider Id: {{id}}<br/>
					Provider Name: {{name}}<br/>
					Provider Email: {{email}}
		</form>
	</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script type="text/javascript" src="JsonSearch.js"></script>
</body>
</html>