body {
	background-color: aliceblue;
	background-image: url("./../images/background.png");
	font-family: 'Ubuntu', sans-serif;
}

td {
	padding: 5px;
	text-align: justify;
	vertical-align: middle;
	font-family: 'Ubuntu', sans-serif;
}

th {
	background-color: #80627e;
	color: gold;
	font-family: 'Ubuntu', sans-serif;
	padding: 3px 4px;
	text-align: justify;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: rgba(41, 100, 123, 1);
	margin-left: 360px;
	text-align: left;
}

h3 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: rgba(41, 100, 123, 1);
	text-align: left;
}

#hdrdiv {
	background-image: url("./../images/hdr_background.png");
	margin: -8px;
	padding: 10px;
}

.container-fluid {
	margin-left: 360px;
}

#searchdiv {
	margin-bottom: 10px;
}

#providerdiv {
	
}

#hdrtxt {
	color: rgba(41, 100, 123, 1);
	display: inline-block;
	float: right;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	font-weight: bold;
	padding-left: 10px;
	width: 270px;
}

label {
	font-family: 'Ubuntu', sans-serif;
}

.profile {
	float: left;
}

.profhdr {
	background-color: lightgray;
	margin: 1px;
	padding: 6px 5px;
	font-family: 'Ubuntu', sans-serif;
}

.profname {
	float: left;
}

.profdtl {
	display: inline-block;
	width: 150px;
}

.profdiv {
	background-color: lightblue;
	margin-bottom: 1px;
	margin-left: 280px;
	margin-top: 1px;
	padding: 6px 5px 6px 10px;
	width: 310px;
	text-align: left;
	font-family: 'Ubuntu', sans-serif;
}

.strmhdr {
	background-color: lightgray;
	cursor: default;
	height: 18px;
	margin: 1px;
	padding: 6px 5px;
}

.strmdiv {
	margin-top: 0px;
}

.strmdtldiv {
	padding: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-right: 0px solid gray;
	width: 270px;
	vertical-align: top;
	margin-top: 0px;
}

.strmprops {
	background-color: lightblue;
	padding: 6px 5px 6px 10px;
	margin: 1px;
	height: 18px;
	text-align: left;
	cursor: default;
}

fieldset {
	border: 1px solid green;
	width: 500px;
	height: 120px;
}

legend {
	padding: 0.2em 0.5em;
	border: 2px solid green;
	color: green;
	font-size: 60%;
	text-align: left;
}

#providerquery {
	margin-right: 10px;
}

ul {
	padding-left: 0px;
	margin-bottom: 0px;
}

li {
	display: inline-block;
	padding: 10px;
	background-color: lightgray;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-right: 4px solid gray;
	cursor: pointer;
}