.gridclass {
	margin-right: 300px;
	margin-left: 300px;
	background-color: #fff;
	border-color: #ddd;
	border-width: 1px;
	border-radius: 4px 4px 0 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

body {
	background-color: rgb(63, 139, 190);
}

#hdrdiv {
	background-image: url("hdr_background.png");
	margin: -8px;
	padding: 10px;
}
.form-inline .form-group {
	display: inline-block;
	margin-bottom: -100;
	vertical-align: text-bottom;
	margin-left: 1px;
	margin-right: -104px;
	margin-top: 15px;
	margin-bottom: 4px;
}